@media (max-width: 575px) {
.button{
    &_header {
        width: 100%;
        margin-top: 10px;
        font-size: 10px;
    }
    
    &_main {
        margin-top: 30px;
        width: 250px;
        font-size: 14px;
    }
    &_submit {
        font-size: 14px;
    }
    &_mini {
        width: 100px;
    }
}
    
}