@media (max-width: 575px) {

    .button_header {
        width: 127px;
        margin-top: 10px;
        font-size: 10px;
    }
    
    .button_main {
        margin-top: 35px;
        width: 250px;
        font-size: 14px;
    }
    
}