@media (max-width: 991px) {
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 193px;
            margin: 0 10px;
        }
        &__content {
            justify-content: center;
            margin-top: 50px;
        }
        &-item {
            margin: 0 30px 30px 0;
        }
    } 
}
@media (max-width: 767px) {
    .catalog{
        &__tabs {
            margin-top: 40px;
            flex-wrap: wrap;
        }
        &__tab {
            width: 220px;
            height: 60px;
            margin: 0 0 30px;
            line-height: 58px;
            &:nth-child(1) {
                margin-right: 20px;
            }
        }
        &__content {
            margin-top: 20px;
        }
        &-item {
            width: 70%;
            margin: 0 0 30px;
        }
    }  
}
@media (max-width: 575px) {
    .catalog {
        &__tab {
            width: 210px;
            height: 60px;
            margin-bottom: 20px;
            line-height: 60px;
            &:nth-child(1) {
                margin-right: 0;
            } 
        }
        &-item {
            width: 80%;
            &__descr {
                max-width: 200px;
            }
            &__price {
                font-size: 17px;
                line-height: 28px;
            }
            &__old-price {
                font-size: 12px;
            }  
        }
    }
}