@media (max-width: 767px) {
    .modal {
        width: 348px;
        min-height: 374px;
        padding: 20px;
        .feed-form {
            width: 90%;
        }
    }
}

@media (max-width: 575px) {
    .modal {
        width: 80%;
        padding: 20px 15px;
        &__close {
            top: -50px;
            right: 0;
        }
        .feed-form {
            width: 100%;
            margin-top: 20px;
        }
        &__descr {
            line-height: 18px;
        }
        
    }    
        
}